.footer {
  background-color: #e41111a5; /* Fondo oscuro elegante */
  color: #fff;
  padding: 0.3rem 0rem;
  text-align: center;
  margin-top: 20px;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgba(215, 10, 10, 0.8);
}


.footer-copy {
  font-size: 0.9rem;
  color: #000000;
  margin-top: 1rem;
  border-top: 1px solid #a30505ae;
  padding-top: 1rem;
}


